@import url("./imag/fondos/fondoPrincipal.jpg");
body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("./imag/fondos/fondoPrincipal.jpg");
    background-size: 100%;
   

}