.formularioContainer{
    max-width: 25em;
    padding: 1.3em;
    margin: 0 auto;
    background-color: rgba(120, 119, 123, 0.3);
    border-radius: 0.5em;
    box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.85);
}
.containerMapa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-Titulo{
    background-color: rgb(84,31,20);
    border-radius: 2px;
}


h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 12px 5px 12px 5px;
    color: antiquewhite;
    margin: 20px 30px;
}
#imagPosition  {
    img{
    padding: 0;
    width: 100%;
    height: 10%;
     }
}
.alineacion {
    display: flex;
    justify-content: center; 
    margin-top: -30;
    article{
        img{
            position: absolute;
            margin-top: -40rem;
        }
    }

}
#alineacionProducts {
    article{
    
        text-align: center;
        background-image: url(/imag/fondos/texturiNegra.jpg);
        border: solid 1px #020304;
        margin-inline: 10px;
        img{
            display: block;
            margin: 0px auto;
        }
    }
}


.containerContacto {
    display: flex;
    justify-content: space-around;
    color: antiquewhite;
}
.containerNovedades {

    padding: 30px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    article{
        text-align: center;
        background-color: #CC9E61;
        border: solid 1px #020304;
        margin-inline: 10px;
    }
}
.contenedorProducts {
    padding: 3px 50px;
    margin: 40px;
    display: flex;
    justify-content: space-around;
    color: antiquewhite;
    h3{
        display: flex;
        justify-content: center;
        font-size: x-large;
        padding: 30px 0px;
    }
}

.containerAbout {

    padding: 0px 50px;
    margin: 40px;
    display: flex;
    justify-content: space-around;
    color: antiquewhite;
}
.bg-Titulo {
    background-color: rgb(84, 31, 20);
    border-radius: 2px;
}
.effectHover{
    ul{
        li{
            ::before{

                content: "";
                height: 3px;
                width: 0%;
                background: yellow;
                position: absolute;
                left: 0;
                bottom: -12px;
                transition: 0.5s ease-out;
            }
        }
    }
     
}


.gridPresentacion {
    display: grid;
    grid-template-areas:
        "imag section"
        "imag section"
    ;
}

.imagPresentacion {

    padding: 15%;
    grid-area: imag;
}

.titlePrincipal {
    grid-area: section;
    p{

        padding: 5%;
    }
}


#animacionImag {
    cursor: pointer;
    box-shadow: 1px 10px 25px;
    rgba :(0, 0, 0, 0.5);
    border-radius: 6px;
    :hover{

        width: 150%;
        height: 150%;
        filter: brightness(80%);
    }

}


.gridImage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.Prueba {
    position: relative;
    grid-column: 1/4;
    grid-row: 1/4;
}

.centrarImagen {
    grid-column: 2/3;
    grid-row: 2/3;
    position: absolute;
}
